
<div class="container" ng-controller="homeController as HCtrl">

    <table class="table-bordered">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Name</th>
                <th>Team</th>
                <th>Position</th>
                <th>Completions</th>
                <th>Attempts</th>
                <th>Percentage</th>
                <th>AttemptsPerGame</th>
                <th>TotalYards</th>
                <th>Average</th>
                <th>AveragePerGame</th>
                <th>Touchdowns</th>
                <th>Interceptions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in HCtrl.quarterbacks">
                <td>{{item.rank}}</td>
                <td>{{item.name}}</td>
                <td>{{item.team}}</td>
                <td>{{item.position}}</td>
                <td>{{item.completions}}</td>
                <td>{{item.attempts}}</td>
                <td>{{item.percentage}}</td>
                <td>{{item.attemptsPerGame}}</td>
                <td>{{item.totalYards}}</td>
                <td>{{item.average}}</td>
                <td>{{item.averagePerGame}}</td>
                <td>{{item.touchdowns}}</td>
                <td>{{item.interceptions}}</td>
            </tr>
        </tbody>
    </table>
    <hr />
    <button ng-click="HCtrl.getQbStats()" class="btn btn-primary">Get QB Stats</button>
</div>

@section scripts {
    <script src="~/Scripts/angularJsApp/ServiceFactorys/ScrapeFactory.js"></script>
    <script src="~/Scripts/angularJsApp/ServiceFactorys/QBFactory.js"></script>
    <script>
        (function () {
            "use strict";

            angular.module('FBApp').controller('homeController', HomeController);

            function HomeController($scope, $http, qbService, scrapeService) {
                var vm = this;
                vm.getQbStats = _getQbStats;
                vm.qbService = qbService;
                vm.scrapeService = scrapeService;
                vm.quarterbacks = [];


                render()

                function render() {
                    return qbService.getQBs()
                    .then(function (data) {
                        vm.quarterbacks = data.data;
                    });


                }

                function _getQbStats() {
                    return scrapeService.scrapeQBData()
                    .then(function (data) {
                        console.log(data);
                    });

                }

            }

        })();


    </script>
}